.loginForm{
    text-align: center;
    margin-right: 8%;
    width: 28%;
    display: flex;
    align-items: center;
}
.loginForm h2{
    font-size: 2.5rem;
}
.loginForm label{
    display: block;
    font-size: 2rem;
    margin-top: 20px;
    color: white;
}
.loginForm input{
    width: 100%;
    height: 30px;
    padding: 10px;
    border-radius: 100px;
    margin: 20px auto;
    background-color: rgba(49, 47, 47, 0.192);
    border: #ff953e83 2px solid;
    font-size: large;
    color: white;
    transition: 0.3s;
}
.loginForm input:active, .loginForm input:focus{
    outline: none;
    border: #ff953e 2px solid;
}
.loginForm button{
    width: 70%;
    padding: 10px;
    border-radius: 100px;
    margin: 20px;
    background-color: #ff953e;
    border: none;
    height: 45px;
    font-size: large;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.5rem;
    position: relative;
    overflow: hidden;
}
.loginForm button::before{
    content: "";
    position: absolute;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: skewX(-45deg);
    transition: 0.5s;
}
.loginForm button:hover::before{
    left: 200%;
}
.loginForm button:hover{
    scale: 1.05;
}

#registreren {
    background-color: rgba(255, 255, 255, 0.11);
    height: 50px;
    position: relative;
    width: 90%;
    z-index: 2;
    border: 2px solid #FF943E;
}

#registreren::before {
    content: "";
    position: absolute;
    all: unset;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #FF943E;
    pointer-events: none;
}

