.profileContainer{
    display: flex;
    height: 100vh;
    gap: 20px;
    margin: 0 auto;

}
.profileContainer > div{
    width: 90%;
    height: 99vh;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.231);
    flex: 1;
    border-radius: 16px;
}
.profileContainer > div:nth-child(2){
    flex: 3;
    position: relative;
    border: 2px solid var(--primary-color);
    position: relative;
    height: 98vh;
    top: 1%;
}

.profileContainer > div:nth-child(2)::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: 0 0 50px 1px #ff953e39;
}